* {
    margin: 0;
    padding: 0;
    font-family: 'HelveticaNeue';
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --cs-green: #0f663c;
    --cs-blue: #11529c;
    --cs-accent: #286090;
    --cs-btn: #397bb4;
    --cs-text: #333333;
    --cs-whte: #fff;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: var(--cs-whte);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 800;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

strong {
    font-family: "Open Sans", sans-serif;
}

.cp60 {
    padding: 60px 0px;
}

ul,
li {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
.tophead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.addrs {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

.addrs i {
    padding-right: 10px;
    font-size: 16px;
}

.social_link a{
    color: #212529;
}

.social_link i {
    padding-left: 10px;
    font-size: 16px;

}

.sticky-header{
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.top_header{
    background-color: var(--cs-whte);
}

.header {
    background-color: 
    #EEEEEE;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    padding: 0px 15px;
}

.nav-item a {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: var(--cs-text);
}

.nav-item a:hover {
    color: var(--cs-green);
}

.navbar-brand img {
    width: 200px;
}

.navbar-nav .nav-item.active .nav-link {
    font-weight: 500;
    color: var(--cs-green);
}

.navbar-toggler{
    border: none
}

.navbar-toggler:focus {
    text-decoration: none;
    box-shadow: none;
}

.navbar-toggle i{
    color: var(--cs-green);
    font-size: 25px;
}

.navbar-toggle i:hover{
    color: var(--cs-btn);
}

/* header ends=================== */

/* banner starts ====================== */
.banner_image {
    background-color: var(--cs-blue);
    padding: 30px;
    margin-top: 120px;
}

.banner_image img {
    width: 100%;
}

.en-fra {
    text-align: center;
    padding-top: 30px;
}

.en-fra h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.en-fra-button {}

.btn-tel {
    font-family: "Open Sans", sans-serif;
    padding: 8px 20px;
    background-color: var(--cs-btn);
    font-weight: 700;
    color: var(--cs-whte);
    border-radius: 5px;
    margin: 5px;
    transition: .2s all ease-in-out;
}

.btn-tel:hover {
    background-color: var(--cs-accent);
    transform: scale(0.95);
    color: var(--cs-whte);
}

.btn-contact {
    font-weight: 400;
}

/* banner ends */


/* replacement starts================== */
.serv_box {
    display: flex;
    align-items: center;
}

.serv_box i {
    font-size: 30px;
    color: var(--cs-green);
    padding-right: 20px;
}

.serv_box {
    padding-bottom: 30px;
}

.gp>* {
    margin-bottom: 20px;
}


.accordion-button {
    background-color: #f5f5f5;
    border-radius: 5px;
}

.accordion-item {
    margin-bottom: 10px;
    border-radius: 5px;
}

.accordion-button:focus {
    border-color: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: var(--cs-text);
    background-color: #f5f5f5;
}

/* service starts================= */
.service_title h3 {
    font-size: 36px;
    margin-bottom: 10px;
}

.serv_box img {}

.service_content {
    margin-left: 20px;
}

.service_content a {
    color: var(--cs-text);
    font-weight: 400;
}

.service_content a:hover {
    text-decoration: underline;
    color: var(--cs-green);
}

.service_content p {
    margin: 10px 0px;
}

.service_content h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* craft starts */
.craft h2 {
    font-size: 30px;

}

.craft h4 {
    font-size: 18px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.cratf_block>* {
    margin-bottom: 10px;
}

.cratf_block {
    margin-bottom: 30px;
}

.cratf_block li {
    list-style: inside;
}

.craft p {
    margin-bottom: 20px;
}

.cta {
    background-color: var(--cs-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.cta h4 {* {
    margin: 0;
    padding: 0;
    font-family: 'HelveticaNeue';
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --cs-green: #0f663c;
    --cs-blue: #11529c;
    --cs-accent: #286090;
    --cs-btn: #397bb4;
    --cs-text: #333333;
    --cs-whte: #fff;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: var(--cs-whte);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 800;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

strong {
    font-family: "Open Sans", sans-serif;
}

.cp60 {
    padding: 60px 0px;
}

ul,
li {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
.tophead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.addrs {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

.addrs i {
    padding-right: 10px;
    font-size: 16px;
}

.social_link i {
    padding-left: 10px;
    font-size: 16px;
}

.header {
    background-color: var(--cs-green);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    padding: 0px 15px;
}

.nav-item a {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: var(--cs-whte);
}

.nav-item a:hover {
    color: #fdc867;
}

.navbar-brand img {
    width: 200px;
}

.navbar-nav .nav-item.active .nav-link {
    font-weight: 500;
}

/* header ends=================== */

/* banner starts ====================== */
.banner_image {
    background-color: var(--cs-blue);
    padding: 30px;
}

.banner_image img {
    width: 100%;
}

.en-fra {
    text-align: center;
    padding-top: 30px;
}

.en-fra h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.en-fra-button {}

.btn-tel {
    font-family: "Open Sans", sans-serif;
    padding: 8px 20px;
    background-color: var(--cs-btn);
    font-weight: 700;
    color: var(--cs-whte);
    border-radius: 5px;
    margin: 5px;
    transition: .2s all ease-in-out;
}

.btn-tel:hover {
    background-color: var(--cs-accent);
    transform: scale(0.95);
    color: var(--cs-whte);
}

.btn-contact {
    font-weight: 400;
}

/* banner ends */


/* replacement starts================== */
.serv_box {
    display: flex;
    align-items: center;
}

.serv_box i {
    font-size: 30px;
    color: var(--cs-green);
    padding-right: 20px;
}

.serv_box {
    padding-bottom: 30px;
}

.gp>* {
    margin-bottom: 20px;
}


.accordion-button {
    background-color: #f5f5f5;
    border-radius: 5px;
}

.accordion-item {
    margin-bottom: 10px;
    border-radius: 5px;
}

.accordion-button:focus {
    border-color: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: var(--cs-text);
    background-color: #f5f5f5;
}

/* service starts================= */
.service_title h3 {
    font-size: 36px;
    margin-bottom: 10px;
}

.serv_box img {}

.service_content {
    margin-left: 20px;
}

.service_content a {
    color: var(--cs-text);
    font-weight: 400;
}

.service_content a:hover {
    text-decoration: underline;
    color: var(--cs-green);
}

.service_content p {
    margin: 10px 0px;
}

.service_content h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* craft starts */
.craft h2 {
    font-size: 30px;

}

.craft h4 {
    font-size: 18px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.cratf_block>* {
    margin-bottom: 10px;
}

.cratf_block {
    margin-bottom: 30px;
}

.cratf_block li {
    list-style: inside;
}

.craft p {
    margin-bottom: 20px;
}

.cta {
    background-color: var(--cs-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.cta h4 {
    color: var(--cs-whte);
}

/* skill starts=========== */
.review_info {
    /* border: 1px solid var(--cs-green);
    padding: 20px;
    position: relative; */
    border: 1px solid #0f663c;
    padding: 20px;
    position: relative;
    line-height: 28px;
    color: #666;
    font-size: 18px;
    text-align: center;
}

.review_info p {
    font-size: 18px;
    color: var(--cs-text);
}

.review_info::before {
    border: 12px solid;
    border-color: #e1e1e1 transparent transparent;
    border-top-color: var(--cs-green);
    bottom: -24px;
    position: absolute;
    content: "";
    display: block;
    height: 0;
    width: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
}

.review_info:after {
    border: 12px solid;
    border-color: var(--cs-whte) transparent transparent;
    bottom: -22px;
    position: absolute;
    content: "";
    display: block;
    height: 0;
    width: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
}

.review_profile {
    padding-top: 30px;
}

.review_profile img {
    width: 35%;
    border-radius: 10px;
}

.review_profile p {
    color: var(--cs-green);
    font-size: 18px;
    font-weight: 700;
    padding-top: 5px;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    display: block;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* brands starts============== */
.portfolio{
    background-color: #f9f9f9;
}
.brands_det h3 {
    font-size: 24px;
    font-weight: 400;
}

.port {
    align-items: start;
}

.port_btn a {
    font-size: 15px;
    color: var(--cs-btn);
}

.port_btn a:hover {
    color: var(--cs-text);
}

.port_btn i {
    font-size: 18px;
    padding-right: 8px;
    color: var(--cs-btn);
}

/* contact strats================= */
.contact h3{
    font-size: 36px;
}

.loc{
    text-align: center;
    background-color: #252525;
    padding: 40px 40px;
    margin-bottom: 20px;
}

.loc i{
    width: 60px;
    height: 60px;
    background-color: var(--cs-green);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: var(--cs-whte);
    font-size: 20px;
    border-radius: 50px;
}

.loc h4{
    color: var(--cs-whte);
    margin-top: 20px;
    font-weight: 600;
}

.contact_form h3 {
    font-size: 30px;
    font-weight: 400;
}

.form-group{
    display: flex;
    align-items: center;
}

.form-group label{
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
}

.form-group input{
    margin-bottom: 10px;
}


/* footer box */
.footer{
    background-color: #030303;
}

.footer_box h4{
    color: var(--cs-whte);
    font-weight: 600;
    border-left: 5px solid var(--cs-green);
    padding-left: 15px;
    margin-bottom: 20px;
}

.footer a{
    font-size: 13px;
    color: var(--cs-btn);
    font-weight: 400;
}

.footer a:hover{
    text-decoration: underline;
}

.footer_box p{
    color: #999999;
}

.foot-soc-link i{
    color: #999999;
}

.footer_address{}

.add{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quick_links ul li{
    color: #999999;
    border-bottom: 1px solid #99999921 !important;
    padding-bottom: 10px;
}

.quick_links ul li a:hover{
    color: var(--cs-green);
}

.quick_links ul li i{
    font-size: 10px;
    margin-right: 5px;
}

.quick_links ul li a{
    color: #999999;
}

.cc{
    background-color: var(--cs-green);
    padding: 30px 15px;
    text-align: center;
}

.cc p{
    color: #fcfcfc;
    font-size: 14px;
}

/* top to bottom */
#topButton {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 30px;
    z-index: 99; 
    border: none; 
    outline: none;
    background-color: #252525;
    color: var(--cs-green);
    cursor: pointer; 
    padding: 10px; 
    border-radius: 10px;
    font-size: 14px;
}

#topButton:hover {
    background-color: #555;
}
    color: var(--cs-whte);
}

/* skill starts=========== */
.review_info {
    /* border: 1px solid var(--cs-green);
    padding: 20px;
    position: relative; */
    border: 1px solid #0f663c;
    padding: 20px;
    position: relative;
    line-height: 28px;
    color: #666;
    font-size: 18px;
    text-align: center;
}

.review_info p {
    font-size: 18px;
    color: var(--cs-text);
}

.review_info::before {
    border: 12px solid;
    border-color: #e1e1e1 transparent transparent;
    border-top-color: var(--cs-green);
    bottom: -24px;
    position: absolute;
    content: "";
    display: block;
    height: 0;
    width: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
}

.review_info:after {
    border: 12px solid;
    border-color: var(--cs-whte) transparent transparent;
    bottom: -22px;
    position: absolute;
    content: "";
    display: block;
    height: 0;
    width: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
}

.review_profile {
    padding-top: 30px;
}

.review_profile img {
    width: 35%;
    border-radius: 10px;
}

.review_profile p {
    color: var(--cs-green);
    font-size: 18px;
    font-weight: 700;
    padding-top: 5px;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    display: block;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* brands starts============== */
.portfolio{
    background-color: #f9f9f9;
}
.brands_det h3 {
    font-size: 24px;
    font-weight: 400;
}

.port {
    align-items: start;
}

.port_btn a {
    font-size: 15px;
    color: var(--cs-btn);
}

.port_btn a:hover {
    color: var(--cs-text);
}

.port_btn i {
    font-size: 18px;
    padding-right: 8px;
    color: var(--cs-btn);
}

/* contact strats================= */
.contact h3{
    font-size: 36px;
}

.loc{
    text-align: center;
    background-color: #252525;
    padding: 30px;
    margin-bottom: 20px;
}

.loc i{
    width: 60px;
    height: 60px;
    background-color: var(--cs-green);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: var(--cs-whte);
    font-size: 20px;
    border-radius: 50px;
}

.loc h4{
    color: var(--cs-whte);
    margin-top: 20px;
    font-weight: 600;
}

.contact_form h3 {
    font-size: 30px;
    font-weight: 400;
}

.form-group{
    display: flex;
    align-items: center;
}

.form-group label{
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
}

.form-group input{
    margin-bottom: 10px;
}


/* footer box */
.footer{
    background-color: #030303;
}
.footer_box{}

.footer_box h4{
    color: var(--cs-whte);
    font-weight: 600;
    border-left: 5px solid var(--cs-green);
    padding-left: 15px;
    margin-bottom: 20px;
}

.footer a{
    font-size: 13px;
    color: var(--cs-btn);
    font-weight: 400;
}

.footer a:hover{
    text-decoration: underline;
}

.footer_box p{
    color: #999999;
}

.foot-soc-link i{
    color: #999999;
}

.footer_address{}

.add{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quick_links ul li{
    color: #999999;
    border-bottom: 1px solid #99999921 !important;
    padding-bottom: 10px;
}

.quick_links ul li a:hover{
    color: var(--cs-green);
}

.quick_links ul li i{
    font-size: 10px;
    margin-right: 5px;
}

.quick_links ul li a{
    color: #999999;
}

.cc{
    background-color: var(--cs-green);
    padding: 30px 15px;
    text-align: center;
}

.cc p{
    color: #fcfcfc;
    font-size: 14px;
}

/* top to bottom */
#topButton {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 30px;
    z-index: 99; 
    border: none; 
    outline: none;
    background-color: #252525;
    color: var(--cs-green);
    cursor: pointer; 
    padding: 10px; 
    border-radius: 10px;
    font-size: 14px;
}

#topButton:hover {
    background-color: #555;
}